.login {
  --border: 219, 219, 219;
  --fe0: 0, 55, 107;
  background: #e6e6e6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: auto;

  &--container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    width: 20rem;
    margin-top: 2rem;
    border: 1px solid rgba(var(--border, 219, 219, 219), 1);
    background: white;
    transition: height 300ms ease;

    &--logo {
      height: 4rem;
    }

    &--button {
      background: #0095f6;
      padding: 0.5rem;
      border-radius: 0.2rem;
    }

    &--or {
      color: grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .8rem;
    }

    &--facebook {
      background: transparent;
      color: #385185;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;


      &--logo {
        height: 1.5rem;
        margin-bottom: .3rem;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }

    &--forgot {
      color: #666565;
      text-align: center;
      font-size: .7rem;
      text-decoration: none;
    }

    &--title {
      color: #949494;
      text-align: center;
      margin: .5rem 0;
    }

    &--button-register {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      background: #0095f6;
      border-radius: .2rem;
      height: 2.2rem;

      img {
        height: 1.5rem;
        margin-bottom: .1rem;
      }
    }

    &--create {

      &--span {
        color: #949494;
        text-align: center;
        font-size: .8rem;

        a {
          text-decoration: none;
          color: #949494;
          font-weight: bold;
        }
      }
    }
  }

  &--container-create {
    width: 20rem;
    padding: 2rem;
    border: 1px solid rgba(var(--border, 219, 219, 219), 1);
    background: white;
    font-size: .9rem;
    color: black;
    text-align: center;

    a {
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  }


  &--app {
    color: black;
    font-size: .9rem;
    margin: .6rem;
  }

  &--stores {
    display: flex;
    gap: 2rem;

    img {
      height: 2.4rem;
    }
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.risco {
  border-bottom: 1px solid #949494;
  width: 40%;
}

.login-input {
  color: grey;
  width: 100%;
  height: 2.5rem;
  font-size: .7rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(var(--border, 219, 219, 219), 1);
  background: #fafafa;
  outline: 0;
}
