<div class="login">
  <div class="login--container">
    <img class="login--container--logo" src="assets/images/logo-instagram.png">
    <input type="text" [(ngModel)]="user.user" placeholder="Telefone, nome de usuário ou email">
    <input type="password" [(ngModel)]="user.password" placeholder="Senha">
    <button class="login--container--button" [class.disabled]="!canLogin()" (click)="login()">Entrar</button>

    <div class="login--container--or">
      <div class="risco"></div>
      <p>OU</p>
      <div class="risco"></div>
    </div>

    <button class="login--container--facebook">
      <img class="login--container--facebook--logo" src="assets/images/logo-facebook.png">
      Entrar com o Facebook
    </button>
    <a href="#" class="login--container--forgot">Esqueceu a senha?</a>
  </div>

  <div class="login--container-create">
    <span>Não tem uma conta? <a href="#">Cadastre-se</a></span>
  </div>
  <span class="login--app">Obtenha o aplicativo.</span>
  <div class="login--stores">
    <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.loginPage.badge&mt=8&vt=lo">
      <img src="assets/images/app-store.png">
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D5596A7A9-CBAF-40E3-966B-352F2DCE28C4%26utm_content%3Dlo%26utm_medium%3Dbadge">
      <img src="assets/images/play-store.png">
    </a>
  </div>
  <app-footer></app-footer>
</div>
